@import url(http://fonts.googleapis.com/css?family=Dosis:600,500);
@font-face {
    font-family: 'csiconfont';
    src:url('../fonts/csiconfont.eot');
    src:url('../fonts/csiconfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/csiconfont.woff') format('woff'),
        url('../fonts/csiconfont.ttf') format('truetype'),
        url('../fonts/csiconfont.svg#csiconfont') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*
 * Globals
 */

a,
a:hover,
a:focus,
a:visited
{
  color: #ffffff;
  text-decoration: none;
}

a.btn,
a.btn:hover,
a.btn:focus,
a.btn:visited,
{
  color: #ffffff;
  text-decoration: none;
}

a.cart,  
a.cart:hover,  
a.cart:focus,  
a.cart:visited  
{
  background: #81bcb4;
  color: white;
}

body {
/*  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;*/
  background: #fff url('/../assets/images/bg.png') repeat top center fixed;
  font-family: 'Dosis', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  color: #333;
}

ul.nav-tabs > li > a.carioca_color1,
ul.nav-tabs > li > a.carioca_color1:focus,
ul.nav-tabs > li > a.carioca_color1:hover,
ul.nav-tabs > li > a.carioca_color1:visited
{
  background: #8c2d83;
  color: #000;
  border: 1px solid #8c2d83;
}
ul.nav-tabs > li > a.carioca_color2,
ul.nav-tabs > li > a.carioca_color2:focus,
ul.nav-tabs > li > a.carioca_color2:hover,
ul.nav-tabs > li > a.carioca_color2:visited
{
  background: #81bcb4;
  color: #000;
  border: 1px solid #81bcb4;
}
ul.nav-tabs > li > a.carioca_color3,
ul.nav-tabs > li > a.carioca_color3:focus,
ul.nav-tabs > li > a.carioca_color3:hover,
ul.nav-tabs > li > a.carioca_color3:visited
{
  background: #d1da26;
  color: #000;
  border: 1px solid #d1da26;
}
ul.nav-tabs > li > a.carioca_color4,
ul.nav-tabs > li > a.carioca_color4:focus,
ul.nav-tabs > li > a.carioca_color4:hover,
ul.nav-tabs > li > a.carioca_color4:visited
{
  background: #c94780;
  color: #000;
  border: 1px solid #c94780;
}
ul.nav-tabs > li > a.carioca_color5,
ul.nav-tabs > li > a.carioca_color5:focus,
ul.nav-tabs > li > a.carioca_color5:hover,
ul.nav-tabs > li > a.carioca_color5:visited
{
  background: #bcbcbc;
  color: #000;
  border: 1px solid #bcbcbc;
}

.about-body {
  margin-top: 15px;
}

.bggray
{
   background: #bcbcbc;
   border-color: #bcbcbc;
   color: 8c2d83;
}
.bgviolet
{
   background: #8c2d83;
   border-color: #8c2d83;
   color: 8c2d83;
}

.bar-menu
{
  margin-top: 20px;
}

.body-bg
{
  background-color: rgba(0,0,0,0.1);
  margin-top: -20px;
  padding-top: 25px;
}
.buttons
{
  display: block;
  margin-top: 15px;
  text-align: center;
  max-height: 190px;
  min-height: 90px;
}

.carioca_line
{
  margin: 35px auto;
}

.carioca_color1
{
  background: #8c2d83;
  color: #fff;
}

.carioca_color2
{
  background: #81bcb4;
  color: #fff;
}

.carioca_color3
{
  background: #d1da26;
  color: #fff;
}

.carioca_color4
{
  background: #c94780;
  color: #fff;
}

.carioca_color5
{
  background: #bcbcbc;
  color: #fff;
}

.carioca_block
{
  height: 10px;
}

.col-empty
{
  width: 25px;
  margin: 0 25px;
  color: white;
  float: left;
}

.login-menu {
  margin: 5px 0 0 5px;
}

.login-menu a {
  color: #333;
}
.navbar li
{
  margin-left: 0;
}

.social-nav-btns.big-screen
{
  margin-top: -2px;
  margin-right: -5px;
}

.bar-menu, .navbar, .navbar-default
{
  margin-top: -23px;
  font-size: 1.1em;
}

.collapse, .navbar-collapse {
  margin-top: 0px;
  border: none;
}

.navbar-header {
  margin-bottom: -23px;
}

.navbar-toggle {
  margin-left: 5px;
}

.nav-tabs
{
  margin-top: 15px;
}

.error {
  background-color: #f2dede;
  border-color: #ebccd1;
  border-radius: 4px;
  border: 1px solid transparent;
  color: #a94442;
  margin-bottom: 20px;
  padding: 5px;
}

.social-buttons
{
  margin-top: 15px;
}

.social-btns
{
  margin-left: 20px;
}

.social-btns a
{
  padding: 0 40px;
}

.shopping-cart
{
  margin-left: 120px;
}

.navbar > li > a,
.navbar > li > a:hover,
.navbar > li > a:focus,
.navbar > li > a:visited,
{
  text-decoration: none;
  text-height: bold;
}

.navbar-default
{
  background-color: rgba(188,188,188,0.8);
  color: #000;
}

.cart
{
  background: #81bcb4;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #333;
  padding: 20px;
}


.cart-badge
{
  /*border-radius: 15%;
  position: relative;
  right: -82px;
  top: -15px;*/
}

.footer
{
  min-height: 250px;
  margin-top: 20px;
  background: #ddd;
  color: white;
}

.footer a
{
  color: #333;
}

.footer p
{
  text-align: center;
}

.footer div.col {
float:left;
width:200px;
}

.footer dt {
  font-size:1em;
  font-weight:bold;
  padding-bottom:5px;
  text-decoration: underline;
}

.footer dd {
  font-size: 1em;
  line-height:17px;
}

.footer div.company {
  float: right;
  text-align: right;
}

.footer-header
{
  padding: 1em;
  background-color: #ccc;
  color: #333;
}

.footer-body
{
  padding: 1em;
  background-color: #ddd;
  color: #333;
}

.footer-body img 
{
  margin-top: -5px;
}

.footer-bottom
{
}

#back-to-top
{
  background-color: #333;
  border-radius: 0.3em;
  color: #fff;
  padding: 0.6em;
  cursor: pointer;
}

.craftersama-me
{
  background-color: #ccc; 
  border-radius: .2em; 
  color: #333; 
  font-weight: bold; 
  padding: 0.3em;
  text-decoration: none; 
}


.carioca-logo
{
  background: url('/../assets/images/logo-3.png') no-repeat top right fixed;
  height: 165px;
}

.blog-nav-item
{
  color: #333;
  padding: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

a.blog-nav-item,
a.blog-nav-item:hover,
a.blog-nav-item:focus,
a.blog-nav-item:visited
{
  color: #222;
}

.fa-shopping-cart,
.fa-instagram,
.fa-facebook,
.fa-twitter,
{
  color: #fff;
}

.navbar-nav > span.fa-shopping-cart:hover,
.navbar-nav > span.fa-instagram:hover,
.navbar-nav > span.fa-facebook:hover,
.navbar-nav > span.fa-twitter:hover,
.navbar-nav > span.fa-shopping-cart:focus,
.navbar-nav > span.fa-instagram:focus,
.navbar-nav > span.fa-facebook:focus,
.navbar-nav > span.fa-twitter:focus,
.navbar-nav > span.fa-shopping-cart:visited,
.navbar-nav > span.fa-instagram:visited,
.navbar-nav > span.fa-facebook:visited,
.navbar-nav > span.fa-twitter:visited
{
  color: #333;
}

.social-nav-btns
{
  margin-top: 7px;
  margin-right: 5px;
  padding: 13px 0 13px 0;
}


.social-nav-btns a.cart
{
  margin-right: 10px;
  margin-top: 7px;
  padding: 15px 10px;
}
.social-nav-btns a.instagram,
.social-nav-btns a.facebook,
.social-nav-btns a.twitter
{
  margin-left: -4px;
  margin-top: 7px;
  padding: 15px;
}
.social-nav-btns a.facebook
{
  padding: 15px 17px;
}

.logo-image
{
  text-align: center;
}

.image-logo-header
{
  position: relative;
  top: 0;
  margin-top: -24px;
  width: 80%;
  text-align: center;
}

.instagram
{
  background: #8c2d83;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  box-shadow: 1px 1px 2px #333;
  padding: 15px;
}

.facebook
{
  background: #c94780;
  box-shadow: 1px 1px 2px #333;
  padding: 15px 16px;
}

.twitter
{
  background: #d1da26;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 1px 1px 2px #333;
  padding: 15px;
}
.quote
{
  -moz-transform: rotate(355deg);
  -o-transform: rotate(355deg);
  -webkit-transform: rotate(355deg);
  color: #000;
  font-family: 'Kaushan Script';
  font-size: 1.5em;
  text-align: center;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
  transform: rotate(355deg);
}
.banner_top
{
    width: 100%;
    box-shadow: 2px 2px 5px #999;
}
.banner_bot
{
    width: 50%;
    box-shadow: 2px 2px 5px #999;
}

.image-shadow
{
  box-shadow: 2px 2px 5px #999;
}

.carioca-about-image-left
{
  width: 100%;
  box-shadow: 2px 2px 5px #999;
}

.carioca-index-image
{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-image: url("/../assets/images/imagen_referencial.JPG");
  width:100%;
}

.white-space-index
{
  height: 120px;
}

.social-box
{
  padding: 15px 20px 14px 20px;
}

.title-box
{
  bottom: 0;
  left: 0;
  position: absolute;
  text-align: right;
  width: 100%;
}

.title-box-div
{
  text-align: right;
  width: 100%;
}

.font-cursiva-index {
  color: white;
  font-family: 'Kaushan Script';
  font-size: 30px;
  text-align: center;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
}

.font-cursiva-index p {
  top: 30px;
  left: 40px;
  position: absolute;
}

.font-cursiva-index p.second-text {
  font-size: 25px;
  top: 320px;
  left: 250px;
  position: absolute;

}

.fig-text {
  color: white;
  font-family: 'Kaushan Script';
  font-size: 1.6em;
  padding: 5px;
  text-align: right;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
}

.products-tabs-bg
{
  padding: 5px;
}
.products-body
{
  margin: 10px;
  background-color: #F2F2F2;
}
.product-item
{
  padding: 20px;
  color: #000;
  min-height: 250px;
  border-bottom: 1px #ccc solid;
}

.other-products,
.other-products:hover,
.other-products:focus,
.other-products:visited
{
  background-color: #ececec;
  color: #000000;
}

.item-right,
.item-left
{
  color: #000;
  text-align: center;
}

.product.item a,
.product.item a:hover,
.product.item a:focus,
.product.item a:visited
{
  color: #000;
}

.box
{
  height: 70px;
}

.boxes
{
  margin-top: 1px;
}
.carrito, .products
{
  width: 100%;
  min-height: 190px;
}

.carioca-logo
{
  background: ('/../assets/images/logo-3.png') no-repeat top center transparent;
}

.label-minus {
  border-radius: .25em 0 0 .25em;
}
.label-number {
  border-radius: 0;
}
.label-plus {
  border-radius: 0 .25em .25em 0;
}
.last-box-index {
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
}


.white
{
  color: #ffffff;
}



/* estilos de la galeria */

div.jMyCarousel
{
   margin-top: 10px;
   height: 143px !important;
}
div.jMyCarousel .prev
{
   background: url('/../assets/css/images/left.png') center center no-repeat;
   width:47px; height:61px; border:0px;
}
div.jMyCarousel .next
{
   background: url('/../assets/css/images/right.png') center center no-repeat;
   width:40px; height:61px;
   border:0px;
}
div.jMyCarousel ul li
{
   margin:0px;
   line-height:0px;
   padding:0px;
}
div.jMyCarousel ul li a
{
   display:block;
}
div.jMyCarousel ul li img
{
   display:block; border:0px;
   margin: 0px 5px 0px;
}
#contenido_galeria
{
   position: relative;
   display: inline-block;
   min-height: 350px;
}
#contenido_galeria img
{
   float: left;
   width: 96%;
}
#contenido_galeria p
{
   width: 270px;
   position: absolute;
   top: 0px;
   left: 650px;
}


/********************************/
/*   Estilo para el Responsive  */
/********************************/
@media (width: 1024px) {
  p.second-text {
    display: none;
  }
}
@media (max-width: 1023px) {
  .font-cursiva-index p.second-text {
    font-size: 0.7em;
    top: 200px;
    left: 180px;
    position: absolute;
  }
}
@media (min-width: 900px) and (max-width: 999px) {
  .social-buttons {
    margin-top: 210px;
  }
  p.second-text {
    display: none;
  }
}
@media (max-width: 900px) {
  .white-space-index, .font-cursiva-index, .quote, .footer div.col
  {
    display: none;
  }

  .products
  {
    width: 100%;
    min-height: 90px;
  }
  .carrito
  {
    width: 100%;
    min-height: 90px;
  }

  .fig-text {
    font-size: 1em;
  }
  .social-buttons {
    margin-top: 210px;
  }
  .footer div.company {
    float: none;
    text-align: center;
  }
}

@media (min-width: 768px) {
  /*.carioca-index-image {
    height: 450px;
  }*/
  .collapse, .navbar-collapse {
    margin-top: -25px;
    border: none;
  }
}
@media screen and (max-width: 767px) {
  .navbar-default
  {
    font-size: 1.1em;
  }
  .social-nav-btns.big-menu
  {
    margin-top: -1px;
  }
  .side-collapse-container {
      width:100%;
      position:relative;
      left:0;
      transition:left .4s;
  }
  .side-collapse-container.out {
      left:200px;
  }
  .side-collapse {
      top:60px;
      bottom:0;
      left:0;
      width:200px;
      position:fixed;
      overflow:hidden;
      transition:width .4s;
  }
  .side-collapse.in {
      width:0;
  }
  /*.image-logo-header
  {
    width: 19.5%;
  }*/
  .social-buttons {
    margin-top: 210px;
  }
  .carioca_block {
    display: none;
  }
}

@media (min-width: 400px) and (max-width: 600px) {
  .social-buttons {
    margin-top: 160px;
  }
}

@media (min-width: 320px) and (max-width: 399px) {
  .social-buttons {
    margin-top: 100px;
  }
}

@media screen and (max-width: 360px) {
  .menu-word
  {
    display: none;
  }
}
